<!DOCTYPE html>
<html>
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
<style>
@media screen and (min-width: 401px) {
body {font-family: Arial, Helvetica, sans-serif;font-size:17px;
      background-image: linear-gradient(to right, #d41bb1, #330284);
      color:white;}
* {box-sizing: border-box}

/* Full-width input fields */
input[type=text],input[type=email],select, input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background-color:lightyellow;
  font-size:28px;
  size:30;
}

input[type=text]:focus, input[type=password]:focus,input[type=email]:focus, select {
  background-color:lightyellow;
  outline: none;
  font-size:28px;
  size:30;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
  font-size: larger;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
  font-size: larger;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 400px) {
  body {font-family: Arial, Helvetica, sans-serif;font-size:22px; color:white;
        background-image: linear-gradient(to right, #d41bb1, #330284);
      }
* {box-sizing: border-box}

/* Full-width input fields */
input[type=text],input[type=email],select, input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  
  font-size:22px;
  size:30;
  background-color:lightyellow;
}

input[type=text]:focus, input[type=password]:focus,input[type=email]:focus, select {
  background-color:lightyellow;
  outline: none;
  font-size:22px;
  size:30;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #AEAEAE;
  font-size: larger;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
  font-size: larger;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
  }


</style>
<body>

<form action="/register/complete" method="POST" style="border:1px solid #ccc">
  <div class="container">
    <h2>Sign Up (ನೊಂದಾಯಿಸಿಕೊಳ್ಳಿ)</h2>
    <p>Please fill in this form to create an account.(ನಿಮ್ಮ ಖಾತೆಯನ್ನು ತೆರೆಯಲು ದಯವಿಟ್ಟು ಈ ಫಾರ್ಮ್ ಅನ್ನು ಭರ್ತಿ ಮಾಡಿ.)</p>
    <hr>

    <label for="email"><b>Email (ನಿಮ್ಮ ಇಮೇಲ್)</b></label>
    <input type="email" placeholder="Enter Email" name="email" required>

    <label for="psw"><b>Password (ನಿಮ್ಮ ಪಾಸ್ ವರ್ಡ್)</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>

    <label for="name"><b>Full Name (ನಿಮ್ಮ ಹೆಸರು)</b></label>
    <input type="text" placeholder="Full Name" name="fullname" required>
    
    <label for="std"><b>Choose in which standard you are studying (ನೀವು ಎಷ್ಟನೇ ತರಗತಿಯಲ್ಲಿ ಓದುತ್ತಿದ್ದೀರಿ ಎಂಬುದನ್ನು ಆರಿಸಿ)</b></label>
    <!--<input type="text" placeholder="8/9/10/I-PUC/II-PUC" name="std" required>-->
    <select name="std" id="std">
      <option value="8">8th Standard</option>
      <option value="9">9th Standard</option>
      <option value="10">10th Standard</option>
      <option value="11">I-PUC</option>
      <option value="12">II-PUC</option>
    </select>

    <label for="medium"><b>Choose your Medium of Instruction (ನಿಮ್ಮ ಶಿಕ್ಷಣದ ಭಾಷಾ ಮಾಧ್ಯಮವನ್ನು ಆರಿಸಿ)</b></label>
    <!--<input type="text" placeholder="Kannada/English" name="medium" required>-->
    <select name="medium" id="std">
      <option value="Kannada">ಕನ್ನಡ</option>
      <option value="English">English</option>
    </select>
    <label for="phone"><b>Phone</b></label>
    <input type="text" placeholder="9999900000" name="phone" required>
    <label for="address"><b>City/Taluk/Village (ನಿಮ್ಮ ಊರಿನ ಹೆಸರನ್ನು ಬರೆಯಿರಿ)</b></label>
    <input type="text" placeholder="city/taluk/village" name="address" required>
    	<!--
    <p>By creating an account you agree to our <a href="/views" style="color:dodgerblue">Terms & Privacy</a>.</p>
        -->
    <div class="clearfix">
      <button type="button" class="cancelbtn">Cancel</button>
      <button type="submit" class="signupbtn">Sign Up</button>
    </div>
  </div>
</form>

</body>
</html>
