<html>
  <title >Welcome </title>
  <style>
  .flex-container {
    display: flex;
    flex-direction: row;
    font-size: 30px;
    text-align: center;
  }
  
  .flex-item-left {
    background-color: #f1f1f1;
    padding: 10px;
    flex: 50%;
  }
</style>
    <body onload="updateUserName();" id="np1">

      <h1 id="np" >Welcome </h1>
      <form id='form' action="/status" method="POST">


      <video  controls id="myVideo1" style="display:none;width:100%;height:60%;" onended="endedFunction()">
        <source src=""  type="video/mp4"/>     
        Your browser does not support the <code>video</code> element.
      </video>
      
      <button id='hiddenButton' type="submit" style="display:none;">Login</button>
    </form>
      <h2>Please click on any Chapter images below to load the video & click on the loaded video to play.</h2>
      <div class="flex-container">
              <% data.x.forEach(result=>{ %>        
              <img onclick='launchVideo("<%= result %>");' class="flex-item-left" src='<%= result %>' type="image/png"/>
              <% }); %>
      </div>

  </body>
  <script>
    
function launchVideo(vfile) {

  vfile = vfile.slice(0,vfile.length-3);
  vfile =vfile + "mp4";
  //alert(vfile);
  document.getElementById("myVideo1").src = vfile;
  document.getElementById("myVideo1").style.display = "block"; 
 
};

function endedFunction() {
  vfile=document.getElementById("myVideo1").src;
  vfile = vfile.slice(0,vfile.length-3);
  vfile =vfile + "mp4";
  vfile =vfile.split('/');  
  //alert(vfile[4] + " Video is completed. This will be removed from the below list. Please wait for few seconds for the page to refresh.")
  document.getElementById("form").action="/status/" + vfile[4]+'::' + window.localStorage.getItem("userName");
  document.getElementById("hiddenButton").click();
  document.getElementById("hiddenButton").value=vfile[4]  ;
};
function myFunction(id) {
  console.log(id);
  console.log(id.slice(7,8));
  var x=document.getElementById("progress" + id.slice(7,8));
  x.innerHTML="This video is started. This will be updated when the video is completed.";
  x.style.borderColor="red";
}
function updateCurTime() { 
  alert(vid.currentTime);
} 
function updateUserName(){
  //alert("NP");
  document.getElementById("np").innerHTML = "Welcome " + window.localStorage.getItem("userName")  + "!";
}

        </script>
</html>